body{
    background-color: #ebc86a;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: black;
}

header {
    font-family:'Times New Roman', Times, serif;
    background-color: chocolate;
    font-size: 24px;
    text-align: center;

}

footer {
    font-family:'Times New Roman', Times, serif;
    background-color: chocolate;
    font-size: 24px;
    text-align: center;

}

div {
    margin-top: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

button {
    margin-right: 10px;
}

.clickableHeader {
    cursor: pointer;
}

.sortingInfo {
    font-size: 20px;
}